@font-face {
  font-family: 'lulo_cleanone';
  src: url("../fonts/lulocleanone-webfont.eot");
  src: url("../fonts/lulocleanone-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lulocleanone-webfont.woff") format("woff"), url("../fonts/lulocleanone-webfont.ttf") format("truetype"), url("../fonts/lulocleanone-webfont.svg#lulo_cleanone") format("svg");
  font-weight: normal;
  font-style: normal; }
.tac {
  text-align: center; }

* {
  box-sizing: border-box; }

html {
  background: #4CA1AF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #C4E0E5 100px, #8DC3CC 400px, #4CA1AF 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(top, #C4E0E5 100px, #8DC3CC 400px, #4CA1AF 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 0.9375rem;
  color: #fff; }
  body.preview {
    background: #fff; }
    body.preview h2 {
      font-size: 1.5rem; }

h1,
h2 {
  font-family: 'lulo_cleanone', serif;
  text-align: center;
  color: #fff; }

h1 {
  color: #fff; }

h2 {
  font-size: 1.125rem; }

img {
  max-width: 100%; }

a {
  color: #FFFBE1; }

p {
  font-size: 0.875rem;
  line-height: 1.5rem; }

.btn {
  display: inline-block;
  background-color: #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  color: #4CA1AF;
  text-decoration: none;
  padding: 0.5em 2.5em;
  cursor: pointer; }

header {
  text-align: center;
  padding: 4em 0; }
  header img {
    max-width: 400px; }

.row.row--bg {
  margin: 2em 0 0;
  background-color: #fff;
  padding: 2em 0; }

.container {
  float: none;
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  zoom: 1;
  padding: 1em;
  max-width: 1200px; }
  *, *:before, *:after {
    box-sizing: border-box; }
  .container:before, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .container:after {
    clear: both; }
  .container.container--full {
    max-width: none; }

.some-container {
  zoom: 1; }
  .some-container:before, .some-container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .some-container:after {
    clear: both; }

.category {
  float: left;
  width: 95.83333%;
  margin-right: 2.08333%;
  margin-left: 2.08333%;
  text-align: center;
  padding: 0 2em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  @media (min-width: 60.0625em) {
    .category {
      width: 31.77083%;
      margin-right: 0.78125%;
      margin-left: 0.78125%; } }
  @media (min-width: 48.0625em) and (max-width: 60em) {
    .category {
      width: 31.25%;
      margin-right: 1.04167%;
      margin-left: 1.04167%; } }
  @media (min-width: 30.0625em) and (max-width: 48em) {
    .category {
      width: 97.39583%;
      margin-right: 1.30208%;
      margin-left: 1.30208%; } }
  @media (max-width: 48em) {
    .category {
      margin-bottom: 2em; } }
  .category img {
    max-height: 140px;
    margin-bottom: 1em; }
  .category .category__cta {
    margin: 2em 0; }

nav {
  list-style: none;
  text-align: center;
  margin-bottom: 2.5rem; }
  nav li {
    display: inline;
    margin: 0 1em; }
    nav li a {
      color: #999;
      text-decoration: none;
      display: inline-block; }
      nav li a.btn.active {
        color: #666; }

.project {
  margin-bottom: 2em; }
  .project.project--branding {
    float: left;
    width: 95.83333%;
    margin-right: 2.08333%;
    margin-left: 2.08333%; }
    @media (min-width: 60.0625em) {
      .project.project--branding {
        width: 23.4375%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 48.0625em) and (max-width: 60em) {
      .project.project--branding {
        width: 22.91667%;
        margin-right: 1.04167%;
        margin-left: 1.04167%; } }
    @media (min-width: 30.0625em) and (max-width: 48em) {
      .project.project--branding {
        width: 47.39583%;
        margin-right: 1.30208%;
        margin-left: 1.30208%; } }
  .project.project--web {
    float: left;
    width: 95.83333%;
    margin-right: 2.08333%;
    margin-left: 2.08333%;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    overflow: hidden;
    text-align: center;
    padding-bottom: 1em; }
    @media (min-width: 60.0625em) {
      .project.project--web {
        width: 31.77083%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 48.0625em) and (max-width: 60em) {
      .project.project--web {
        width: 31.25%;
        margin-right: 1.04167%;
        margin-left: 1.04167%; } }
    @media (min-width: 30.0625em) and (max-width: 48em) {
      .project.project--web {
        width: 97.39583%;
        margin-right: 1.30208%;
        margin-left: 1.30208%; } }
    .project.project--web img {
      border-bottom: 1px solid #ddd; }
    .project.project--web h3, .project.project--web a {
      color: #4CA1AF; }

.list-illustration {
  clear: both;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  padding-left: 0; }
  @media (max-width: 30em) {
    .list-illustration {
      -moz-column-count: 1;
      -moz-column-gap: 0;
      -webkit-column-count: 1;
      -webkit-column-gap: 0; } }
  .list-illustration li {
    width: 100%;
    display: inline-block;
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
    /* Gays */ }

.notification {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.9375rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: center; }

.imagelist {
  float: left;
  width: 95.83333%;
  margin-right: 2.08333%;
  margin-left: 2.08333%;
  list-style: none;
  margin-bottom: 20px;
  text-align: center; }
  @media (min-width: 60.0625em) {
    .imagelist {
      width: 31.77083%;
      margin-right: 0.78125%;
      margin-left: 0.78125%; } }
  @media (min-width: 48.0625em) and (max-width: 60em) {
    .imagelist {
      width: 31.25%;
      margin-right: 1.04167%;
      margin-left: 1.04167%; } }
  @media (min-width: 30.0625em) and (max-width: 48em) {
    .imagelist {
      width: 47.39583%;
      margin-right: 1.30208%;
      margin-left: 1.30208%; } }
  .imagelist img {
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    .imagelist img.loaded {
      opacity: 1;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
  .imagelist video {
    max-width: 100%;
    height: auto;
    border-radius: 3px; }
  .imagelist img, .imagelist video {
    margin-bottom: 20px; }

.tnsoc {
  text-align: center;
  padding: 1em; }
  .tnsoc p {
    margin: 7em 0; }

@media (max-width: 48em) {
  video {
    width: 100% !important;
    height: auto !important; } }

.logo-set {
  zoom: 1; }
  .logo-set:before, .logo-set:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .logo-set:after {
    clear: both; }
  .logo-set .logo {
    float: left;
    width: 95.83333%;
    margin-right: 2.08333%;
    margin-left: 2.08333%;
    text-align: center; }
    @media (min-width: 60.0625em) {
      .logo-set .logo {
        width: 31.77083%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 48.0625em) and (max-width: 60em) {
      .logo-set .logo {
        width: 31.25%;
        margin-right: 1.04167%;
        margin-left: 1.04167%; } }
    @media (min-width: 30.0625em) and (max-width: 48em) {
      .logo-set .logo {
        width: 30.72917%;
        margin-right: 1.30208%;
        margin-left: 1.30208%; } }

.brand-assets {
  zoom: 1; }
  .brand-assets:before, .brand-assets:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .brand-assets:after {
    clear: both; }
  .brand-assets .brand-colours,
  .brand-assets .brand-font {
    float: left;
    width: 95.83333%;
    margin-right: 2.08333%;
    margin-left: 2.08333%; }
    @media (min-width: 60.0625em) {
      .brand-assets .brand-colours,
      .brand-assets .brand-font {
        width: 48.4375%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 48.0625em) and (max-width: 60em) {
      .brand-assets .brand-colours,
      .brand-assets .brand-font {
        width: 47.91667%;
        margin-right: 1.04167%;
        margin-left: 1.04167%; } }
    @media (min-width: 30.0625em) and (max-width: 48em) {
      .brand-assets .brand-colours,
      .brand-assets .brand-font {
        width: 47.39583%;
        margin-right: 1.30208%;
        margin-left: 1.30208%; } }
  .brand-assets .brand-colours span {
    display: block;
    height: 30px; }
  .brand-assets .brand-font {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
