@font-face {
    font-family: 'lulo_cleanone';
    src: url("../fonts/lulocleanone-webfont.eot");
    src: url("../fonts/lulocleanone-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/lulocleanone-webfont.woff") format('woff'), url("../fonts/lulocleanone-webfont.ttf") format('truetype'), url("../fonts/lulocleanone-webfont.svg#lulo_cleanone") format('svg');
    font-weight: normal;
    font-style: normal;
}
