nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3px;

    &.nav--main {
        li {
            border: 3px solid #fff;
        }
    }

    li {
        height: 50px;
        width: 50%;
        @include breakpointMedium {
            width: auto;
            justify-content: flex-start;
            margin: 0 1rem;
            border: none;
        }
        a {
            background: $primary-color;
            color: #fff;
            display: block;
            width: 100%;
            padding-top: 10px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            &:before {
                display: inline-block;
            }
        }

        &.home-link {
            a {
                font-size: 130%;
                text-decoration: none;
            }
        }

        &.nav__item {
            &--disabled {
                display: none;
            }

            &--active {
                display: flex;
            }

            &--sub {
                a {
                    background: $secondary-color;
                }
            }
        }

    }

    &.nav--alt {
        height: 70px;
        transition: height .4s cubic-bezier(0, 0, 0.15, 1);
        li {
            a {
                opacity: 1;
                transition: opacity .6s linear;

            }
        }

        &.nav--inactive {
            height: 0;
            li {
                a {
                    opacity: 0;
                }
            }
        }
    }
}
