.container {
  float: none;
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-top: 2em; }
  *, *:before, *:after {
    box-sizing: border-box; }
  .container.container--swap {
    justify-content: flex-end; }

.swap {
  width: 33%; }

.word {
  text-align: center;
  text-transform: capitalize;
  order: 3; }
  .word div {
    visibility: hidden;
    transform: translateY(-10px);
    margin: 0 0 2em;
    font-size: 2em;
    color: #999; }
    @media (min-width: 0) and (max-width: 20em) {
      .word div {
        font-size: 1em;
        border: 1px solid #ccc; } }
    .word div.active {
      visibility: visible;
      transition: all .2s linear;
      transform: translateY(0); }

#word--one {
  order: 1; }

#word--two {
  order: 3; }

#word--three {
  order: 4; }
  #word--three.swapped {
    order: 2; }

button {
  background: #ccc;
  color: #fff;
  outline: none;
  border: none; }
