.container {
    &.bar {
        .bar__side {
            width: 300px;
            display: table-cell;
            vertical-align: middle;
            padding: 1em;
            background: $white;
            box-sizing: border-box;
            border-top: 1px solid $l-grey;
            @include _(for mobile) {
                display: block;
                width: inherit;
            }
        }
        .bar__main {
            display: table-cell;
            vertical-align: middle;
            padding: 1em;
            background: $black;
            color: $white;
            text-align: center;
            @include _(for mobile) {
                display: block;
            }
        }
    }
}
