.blockList {
    list-style: none;
    padding-left: 0;
    margin: 2em 0;
    .blockList__row {
        padding: .8em 0;
        border-top: 1px solid $m-grey;
        color: $m-grey;
        &:last-child {
            border-bottom: 1px solid $m-grey;
        }
        img {
            margin-right: 1em;
        }
    }
    &.blockList--split {
        .blockList__row {
            @include _('clear');
            span {
                float: right;
                text-transform: uppercase;
                font-family: 'Mark Heavy';
                font-size: .9em;
            }
        }
    }
}
