@import 'mixins.scss';
@import 'fonts.scss'; // @import 'grid-settings';
// @import '../node_modules/bourbon-neat/app/assets/stylesheets/neat';
@import '../bower_components/flint/stylesheets/flint';
$teal: #00a3ad;
$l-teal: #00a3ad;
$white: #fff;
$black: #000;
$yellow: #ffd100;
$blue: #006280;
$purple: #444292;
$l-grey: #eee;
$m-grey: #999;
$d-grey: #474a4c;
$regularfont: "Mark Medium";
$lightfont: "Mark Light";
* {
    box-sizing: border-box;
}
body {
    font-family: $regularfont;
    @include linearGradient($l-teal, $teal);
}
header {
    padding: 1em;
    height: 64px;
}
.container {
    width: 100%;
    display: table;
    table-layout: fixed;
    position: relative;
    @include _(for mobile) {
        display: block;
    }
    &.page {
        .page__side {
            width: 300px;
            display: table-cell;
            vertical-align: top;
            background: $white;
            box-sizing: border-box;
            @include _(for mobile) {
                display: inline-block;
                position: absolute;
                right: -300px;
            }
            ul {
                height: 100%;
                margin: 0;
                padding: 0.5em 0.5em 0.5em 0;
                list-style: none;
                li {
                    @include _( 'clear');
                    display: block;
                    border-top: 1px solid $l-grey;
                    &:first-child {
                        border-top: 0;
                    }
                    &:last-child {
                        border-bottom: 1px solid $l-grey;
                    }
                    a {
                        display: block;
                        padding: 1em;
                        color: $d-grey;
                        text-decoration: none;
                        svg {
                            width: 20px;
                            vertical-align: middle;
                            fill: $m-grey;
                            float: right;
                        }
                    }
                }
            }
        }
        .page__main {
            display: table-cell;
            vertical-align: top;
            @include _(for mobile) {
                display: block;
            }
            .feature {
                padding: 2em 5em;
                color: $white;
                padding-bottom: 3em;
                @include _(for mobile) {
                    padding: 1em;
                }
                h3 {
                    text-transform: uppercase;
                    font-size: 0.9em;
                }
                .feature__heading {
                    font-size: 5em;
                    margin-top: 0;
                    line-height: 1.1em;
                    margin-bottom: 0.4em;
                }
                .feature__description {
                    font-family: $lightfont;
                    font-size: 1.3em;
                    margin-bottom: 2em;
                }
                .feature__search {
                    input[type=text] {
                        border: 0;
                        outline: 0;
                        min-width: 335px;
                        margin-right: 15px;
                        padding: 10px;
                        color: $d-grey;
                        min-height: 42px;
                        box-sizing: border-box;
                        display: inline-block;
                        vertical-align: middle;
                        @include _(for mobile) {
                            margin-right: 0;
                        }
                    }
                    input[type=submit] {
                        display: inline-block;
                        background: $yellow;
                        font-size: 0.9em;
                        border: 0;
                        outline: 0;
                        color: $d-grey;
                        text-transform: uppercase;
                        min-height: 42px;
                        width: 150px;
                        box-sizing: border-box;
                        vertical-align: middle;
                        @include _(for mobile) {
                            margin-top: 1em;
                        }
                    }
                }
                .feature__body {
                    max-width: 500px;
                }
            }
            .main__body {
                background: $white;
                padding: 1em;
            }
        }
    }
    .panel-list {
        @include _( 'container');
        @include _( 'clear');
        list-style: none;
        padding-left: 0;
    }
    .panel {
        @include _(4 12 8 4);
        border: 1px solid $l-grey;
        text-align: center;
        color: $d-grey;
        margin-bottom: 1em;
        &:nth-child(4n+5) {
            clear: left;
        }
        .panel__image {
            padding: 2em;
        }
        .panel__title {
            text-align: left;
            padding: 1em;
            border-bottom: 1px solid $l-grey;
            h2 {
                margin-top: 0;
                margin-bottom: 0;
            }
            span {
                color: $m-grey;
                font-family: $lightfont;
                text-transform: uppercase;
                font-size: 0.8em;
            }
        }
        .panel__text {
            font-family: $lightfont;
            text-align: left;
            padding: 1em;
            p {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .panel__button {
            display: inline-block;
            margin-bottom: 2em;
            padding: 0.7em 1.5em;
            background: $black;
            text-transform: uppercase;
            color: $white;
            text-decoration: none;
        }
        &.panel--links {
            display: table;
            border: 0;
            .panel__split {
                color: $white;
                margin-bottom: 1em;
                &:last-child {
                    margin-bottom: 0;
                }
                &.panel__split--primary {
                    background: $purple;
                }
                &.panel__split--secondary {
                    background: $teal;
                }
                .panel__title {
                    span {
                        color: $white;
                    }
                }
            }
        }
    }
    &.bar {
        .bar__side {
            width: 300px;
            display: table-cell;
            vertical-align: middle;
            padding: 1em;
            background: $white;
            box-sizing: border-box;
            border-top: 1px solid $l-grey;
        }
        .bar__main {
            display: table-cell;
            vertical-align: middle;
            padding: 1em;
            background: $black;
            color: $white;
            text-align: center;
        }
    }
}
.blocknav {
    &.blocknav--threeup {
        ul {
            @include _('container');
            list-style: none;
            padding-left: 0;
            .blocknav__item {
                @include _(5.33333333333 4 2.66666666667 4);
                &:first-child {
                    text-align: left;
                    a {
                        &:first-child {
                            margin-right: 1em;
                        }
                    }
                }
                &:last-child {
                    text-align: right;
                    a {
                        &:last-child {
                            margin-left: 1em;
                        }
                    }
                }
                a {
                    color: $teal;
                    text-decoration: none;
                    display: inline-block;
                    vertical-align: middle;
                    span {
                        color: $l-grey;
                        font-size: .9em;
                    }
                }
            }
        }
    }
}

.bar--footer {
    .bar__side {
        color: $m-grey;
        a {
            color: $blue;
            text-decoration: none;
        }
    }
    .blocknav {
        &.blocknav--threeup {
            ul {
                li:nth-child(2n) {
                    a {
                        position: relative;
                        bottom: 3em;
                    }
                }
            }
        }
    }
}
