@import 'mixins.scss';
@import 'fonts.scss';
@import '../bower_components/flint/stylesheets/flint';
@mixin transition($property: all, $seconds: 250ms, $ease: ease-in-out, $opacity: 1) {
	-webkit-transition: $property $seconds $ease $opacity;
	-moz-transition: $property $seconds $ease $opacity;
	-ms-transition: $property $seconds $ease $opacity;
	-o-transition: $property $seconds $ease $opacity;
	transition: $property $seconds $ease $opacity;
}

$teal: #00a3ad;
$l-teal: #00a3ad;
$white: #fff;
$black: #000;
$yellow: #ffd100;
$blue: #006280;
$purple: #444292;
$l-grey: #eee;
$m-grey: #999;
$d-grey: #474a4c;
$regularfont: "Mark Medium";
$lightfont: "Mark Light";

// Modules
@import 'panel';
@import 'feature';
@import 'bar';
@import 'block';
@import 'blocknav';
@import 'blocklist';

* {
    box-sizing: border-box;
}
body {
    font-family: $regularfont;
}
a {
    color: $blue;
}
img {
    max-width: 100%;
}
header {
    padding: 1em;
    height: 64px;
    @include linearGradient($l-teal, $teal);
}
.container {
    width: 100%;
    display: table;
    table-layout: fixed;
    @include _(for mobile) {
        display: block;
    }
    &.container--slim {
        @include _('container');
        @include _('clear');
    }
    &.page {
        .page__side {
            width: 300px;
            display: table-cell;
            vertical-align: top;
            background: $white;
            box-sizing: border-box;
            z-index: 1000;
            @include _(less than laptop) {
                display: inline-block;
                position: fixed;
                left: -300px;
            }
            ul {
                height: 100%;
                margin: 0;
                padding: 0.5em 0.5em 0.5em 0;
                list-style: none;
                li {
                    @include _( 'clear');
                    display: block;
                    border-top: 1px solid $l-grey;
                    &:first-child {
                        border-top: 0;
                    }
                    &:last-child {
                        border-bottom: 1px solid $l-grey;
                    }
                    a {
                        display: block;
                        padding: 1em;
                        color: $d-grey;
                        text-decoration: none;
                        svg {
                            width: 20px;
                            vertical-align: middle;
                            fill: $m-grey;
                            float: right;
                        }
                    }
                }
            }
        }
        .page__main {
            display: table-cell;
            vertical-align: top;
            @include _(less than laptop) {
                display: block;
            }
            .main__body {
                background: $white;
            }

        }
    }
}

// Menu Active States

body {
    &.menuActive {
        header {
            position: fixed;
        }
        .container {
            &.page {
                .page__side {
    				position: absolute;
                    top: 0;
                    min-height: 100%;
                    @include transition;
    				-ms-transform: translateX(300px);
    				-webkit-transform: translateX(300px);
    				transform: translateX(300px);
                }
                .page__main {
                    position: fixed;
                }
            }
        }
        .overlay {
    		@include transition;
    		position: fixed;
    		display: block;
    		height: 100%;
    		width: 100%;
    		background-color: rgba(0, 0, 0, 0.6);
    		z-index: 500;
            @include _(greater than mobile) {
            	&.active {
            		display: none;
            	}
            }
        }
    }
}

.rowTitle {
    color: $m-grey;
    border-bottom: 1px solid $m-grey;
    padding-bottom: .5em;
}

.overlay {
	display: none;
    @include _(greater than mobile) {
    	display: none;
    }
}


nav {
    &.inPageMenu {
        ul {
            list-style: none;
            font-size: .9em;
            padding-left: 0;
            h3 {
                text-transform: uppercase;
                font-family: 'Mark Heavy';
            }
            li {
                border-bottom: 1px solid $m-grey;
                padding: .5em 0;
                &.inPageMenu__heading {
                    border-bottom: 2px solid $black;
                }
                a {
                    color: $black;
                    text-decoration: none;
                }
            }
        }
    }
}

.bar--footer {
    .bar__side {
        color: $m-grey;
        a {
            color: $blue;
            text-decoration: none;
        }
    }
    .blocknav {
        &.blocknav--threeup {
            ul {
                li:nth-child(2n) {
                    a {
                        position: relative;
                        bottom: 3em;
                    }
                }
            }
        }
    }
}
