<header>
    <nav class="nav-bar">
        {{#each menu as menuItem}}
            <li class="nav__item">
				{{#if menuItem.icon}}
					<a href="{{menuItem.url ? menuItem.url : ''}}" title="{{menuItem.icon}}" target="_blank" class="link lsf-icon">{{menuItem.label}}</a>
				{{else}}
					{{#if menuItem.label == "Projects"}}
						<a href="#" on:click="toggleSub(1)" class="link">{{menuItem.label}}</a>
					{{else}}
						<a href="{{menuItem.url ? menuItem.url : '#'}}" class="link">{{menuItem.label}}</a>
					{{/if}}
				{{/if}}
			</li>

        {{/each}}

		{{#if activeSubMenuItems.length}}
			<break></break>
			{{#each menu[1].sub as item}}
				<li class="nav__item nav__item--sub"><a href="/{{item.label.toLowerCase()}}" class="{{currentPage == item.label ? 'active' : ''}}">{{item.label}}</a></li>
			{{/each}}
		{{/if}}

    </nav>

</header>

<div class="menu-icon lsf" on:click="toggleMobileMenuState()">menu</div>

<style>
	.nav__item--sub .active {
		text-decoration: underline;
	}
	.nav__item {
		border: 2px solid #fff;
	}
	@media (min-width: 30em) {
		.menu-icon {
			display: none;
		}
	}
</style>

<script>
  export default {
    data() {
      return {
		  currentPage: null,
		  activeSubMenuItems: [],
		  mobileMenuIsActive: false,
  		  menu: [{
    		    "label": "Home",
    		    "url": "index.html"
    		}, {
    		    "label": "Projects",
	  			"url": "#",
    		    "sub": [{
    		        "label": "Web"
    		    }, {
    		        "label": "Branding"
    		    }, {
    		        "label": "Illustration"
    		    }]
    		}, {
    		    "label": "Github",
    		    "icon": "github",
    		    "url": "https://github.com/simonlayfield/",
    		    "flexible": true
    		}, {
    		    "label": "Contact",
    		    "url": "https://aemail.com/Z6J",
    		    "flexible": true
    		}]
		}
    },
    methods: {
		toggleSub(index) {
			if (this.get('mainMenuIsActive')) {
				this.set({
					mainMenuIsActive: false,
					activeSubMenuItems: []
				});
			} else {
				const menu = this.get('menu');
				this.set({
					mainMenuIsActive: true,
					activeSubMenuItems: menu[index].sub
				});
			}
		},
		toggleMobileMenuState(newState) {
			var self = this;
			if (newState == 'off') {
				self.set({mobileMenuIsActive: false});
				self.switchMobileMenuOff();
			} else if (newState == 'on') {
				self.set({mobileMenuIsActive: true});
				self.switchMobileMenuOn();
			} else {
				if (self.get('mobileMenuIsActive')) {
					self.switchMobileMenuOff();
				} else {
					self.switchMobileMenuOn();
				}
			}
		},
		switchMobileMenuOn() {
			this.set({mobileMenuIsActive: true});
			document.querySelector('.wrap').style.top = '0';
		},
		switchMobileMenuOff() {
			this.set({mobileMenuIsActive: false});
			let menu = this.get('menu'),
				subMenu = this.get('activeSubMenuItems'),
				mainMenuLength = menu.length,
				subMenuLength = subMenu ? this.get('activeSubMenuItems').length : 0,
				totalMenuLength = mainMenuLength + subMenuLength;
			document.querySelector('.wrap').style.top = '-' + menuHeight(totalMenuLength) + 'px';
		},
		resetPage() {
			document.querySelector('.wrap').style.top = '0';
		}
    },
	computed: {
		menuHeight(items) {
			let rowDivisions = items % 2 == 0 ? items / 2 : (items + 1) / 2;
			return rowDivisions * 52;
		}
	},
	oncreate: function() {
		let self = this;

		let mql = window.matchMedia('(max-width: 30em)');

		if (mql.matches) {
			self.set({mainMenuIsActive: false})
			self.switchMobileMenuOff();
		} else {
			self.resetPage();
		}

		function handleMediaQuery(e) {
			if (e.matches) {
				self.switchMobileMenuOff();
			} else {
				self.resetPage();
			}
		}
		mql.addListener(handleMediaQuery);

	}

  };

</script>
