@font-face {
  font-family: 'LigatureSymbols';
  src: url("../fonts/LigatureSymbols/LigatureSymbols-2.11.eot");
  src: url("../fonts/LigatureSymbols/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"), url("../fonts/LigatureSymbols/LigatureSymbols-2.11.woff") format("woff"), url("../fonts/LigatureSymbols/LigatureSymbols-2.11.ttf") format("truetype"), url("../fonts/LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  src: url("../fonts/LigatureSymbols/LigatureSymbols-2.11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.lsf-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
  line-height: 100%; }

.lsf-icon.amazon:before {
  content: '\E007'; }

nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 3px; }
  @media only screen and (min-width: 30em) {
    nav {
      justify-content: center; } }
  @media only screen and (min-width: 30em) {
    nav break {
      flex-basis: 100%;
      width: 0px;
      height: 0px;
      overflow: hidden; } }
  nav.nav--main li {
    border: 3px solid #fff; }
  @media only screen and (min-width: 30em) {
    nav.nav--main.current-page-home li.nav__item--active.nav__item--home {
      display: none; } }
  nav.nav--sub .nav__item--flexible {
    display: none; }
    @media only screen and (min-width: 30em) {
      nav.nav--sub .nav__item--flexible {
        display: block; } }
  nav li {
    height: 50px;
    width: 50%; }
    @media only screen and (min-width: 30em) {
      nav li {
        width: auto;
        justify-content: flex-start;
        margin: 0 1rem;
        border: none; } }
    nav li a {
      background: #007aa2;
      color: #fff;
      display: block;
      width: 100%;
      padding-top: 10px;
      text-align: center;
      text-decoration: none;
      cursor: pointer; }
      nav li a:before {
        display: inline-block; }
      @media only screen and (min-width: 30em) {
        nav li a {
          background: transparent;
          color: #ff55a1; } }
    @media only screen and (min-width: 30em) {
      nav li span {
        display: none; } }
    nav li.nav__item {
      display: flex; }
      nav li.nav__item--disabled {
        display: none; }
        @media only screen and (min-width: 30em) {
          nav li.nav__item--disabled {
            display: flex; } }
      nav li.nav__item--active {
        display: flex; }
      @media only screen and (min-width: 30em) {
        nav li.nav__item--sub.nav__item--disabled {
          display: none; } }
      nav li.nav__item--sub a {
        background: #ff55a1; }
        @media only screen and (min-width: 30em) {
          nav li.nav__item--sub a {
            background: transparent; } }
  nav.nav--alt {
    height: 70px;
    transition: height 0.4s cubic-bezier(0, 0, 0.15, 1); }
    nav.nav--alt li a {
      opacity: 1;
      transition: opacity .6s linear; }
    nav.nav--alt.nav--inactive {
      height: 0; }
      nav.nav--alt.nav--inactive li a {
        opacity: 0; }

* {
  box-sizing: border-box; }

html {
  background: #fff;
  min-height: 100%; }

body {
  margin: 0;
  padding: 0 0 4em;
  font-family: "Vollkorn", serif;
  color: #007aa2; }

h1,
h2 {
  text-align: center;
  color: #007aa2;
  font-weight: normal; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.125rem; }

img {
  max-width: 100%; }

a {
  color: #ff55a1;
  text-decoration: underline;
  cursor: pointer; }

hr {
  display: inline-block;
  width: 200px;
  border-bottom: 2px solid #ddd;
  border-top: none; }

.profile {
  border-radius: 50%; }

.btn {
  display: inline-block;
  border: 1px solid #007aa2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  color: #007aa2;
  text-decoration: none;
  padding: 0.5em 2.5em;
  cursor: pointer;
  transition: all .3s linear; }
  .btn:hover {
    background: #007aa2;
    color: #fff; }

.main {
  font-size: 1.5rem;
  line-height: 2.7rem;
  text-align: center; }

.row.row--bg {
  margin: 2em 0 0;
  background-color: #f1f1f1;
  padding: 2em 0; }
  .row.row--bg.row--flat {
    margin-top: 0; }
.row.row--flat {
  margin-top: 0; }

.container {
  float: none;
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  zoom: 1;
  padding: 1em; }
  *, *:before, *:after {
    box-sizing: border-box; }
  .container:before, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .container:after {
    clear: both; }
  .container.container--full {
    max-width: none; }
  .container.container--slim {
    max-width: 900px; }

.some-container {
  zoom: 1; }
  .some-container:before, .some-container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .some-container:after {
    clear: both; }
  .some-container .wrap {
    position: relative;
    top: -100px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    @media only screen and (min-width: 30em) {
      .some-container .wrap {
        top: 0px; } }
    .some-container .wrap.active {
      top: 0; }
  .some-container .menu-icon {
    position: absolute;
    padding: .5rem 1.5rem;
    font-size: 2rem;
    text-decoration: none; }
    @media only screen and (min-width: 30em) {
      .some-container .menu-icon {
        display: none; } }

.category {
  float: left;
  width: 93.75%;
  margin-right: 3.125%;
  margin-left: 3.125%;
  text-align: center;
  padding: 0 2em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box; }
  @media (min-width: 60.0625em) {
    .category {
      width: 31.77083%;
      margin-right: 0.78125%;
      margin-left: 0.78125%; } }
  @media (min-width: 40.0625em) and (max-width: 60em) {
    .category {
      width: 31.25%;
      margin-right: 1.04167%;
      margin-left: 1.04167%; } }
  @media (min-width: 20.0625em) and (max-width: 40em) {
    .category {
      width: 96.875%;
      margin-right: 1.5625%;
      margin-left: 1.5625%; } }
  @media (max-width: 40em) {
    .category {
      margin-bottom: 2em; } }
  .category img {
    max-height: 140px;
    margin-bottom: 1em; }
  .category h2 {
    font-size: 1.6em; }
  .category .category__cta {
    margin: 2em 0; }

.project {
  margin-bottom: 2em; }
  .project.project--branding {
    float: left;
    width: 93.75%;
    margin-right: 3.125%;
    margin-left: 3.125%; }
    @media (min-width: 60.0625em) {
      .project.project--branding {
        width: 23.4375%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 40.0625em) and (max-width: 60em) {
      .project.project--branding {
        width: 22.91667%;
        margin-right: 1.04167%;
        margin-left: 1.04167%; } }
    @media (min-width: 20.0625em) and (max-width: 40em) {
      .project.project--branding {
        width: 46.875%;
        margin-right: 1.5625%;
        margin-left: 1.5625%; } }
  .project.project--web {
    float: left;
    width: 93.75%;
    margin-right: 3.125%;
    margin-left: 3.125%;
    text-align: center; }
    @media (min-width: 60.0625em) {
      .project.project--web {
        width: 31.77083%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 40.0625em) and (max-width: 60em) {
      .project.project--web {
        width: 31.25%;
        margin-right: 1.04167%;
        margin-left: 1.04167%; } }
    @media (min-width: 20.0625em) and (max-width: 40em) {
      .project.project--web {
        width: 96.875%;
        margin-right: 1.5625%;
        margin-left: 1.5625%; } }
    .project.project--web .project__details {
      background: #fff;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      border-top-right-radius: 5px;
      background-clip: padding-box;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-clip: padding-box;
      overflow: hidden; }
    .project.project--web img {
      border-bottom: 1px solid #ddd; }
    .project.project--web h3 {
      margin-top: 1em;
      margin-bottom: 1em;
      font-weight: normal; }
    .project.project--web h3, .project.project--web a {
      text-decoration: none; }
  .project .projectLabel {
    text-align: left; }
    .project .projectLabel span {
      display: inline-block;
      font-size: .8em;
      background: #007aa2;
      padding: .5em 1em;
      color: #fff; }
    .project .projectLabel.projectLabel--alt span {
      background: #ff55a1;
      color: #fff; }

.gallery {
  clear: both;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  padding-left: 0; }
  @media (max-width: 20em) {
    .gallery {
      -moz-column-count: 1;
      -moz-column-gap: 0;
      -webkit-column-count: 1;
      -webkit-column-gap: 0; } }
  .gallery li {
    width: 100%;
    display: inline-block;
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
    /* Gays */ }

.notification {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.9375rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: center; }

.imagelist {
  float: left;
  width: 93.75%;
  margin-right: 3.125%;
  margin-left: 3.125%;
  list-style: none;
  margin-bottom: 20px;
  text-align: center; }
  @media (min-width: 60.0625em) {
    .imagelist {
      width: 31.77083%;
      margin-right: 0.78125%;
      margin-left: 0.78125%; } }
  @media (min-width: 40.0625em) and (max-width: 60em) {
    .imagelist {
      width: 31.25%;
      margin-right: 1.04167%;
      margin-left: 1.04167%; } }
  @media (min-width: 20.0625em) and (max-width: 40em) {
    .imagelist {
      width: 46.875%;
      margin-right: 1.5625%;
      margin-left: 1.5625%; } }
  .imagelist img {
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    .imagelist img.loaded {
      opacity: 1;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
  .imagelist video {
    max-width: 100%;
    height: auto;
    border-radius: 3px; }
  .imagelist img, .imagelist video {
    margin-bottom: 20px; }

.tnsoc {
  text-align: center;
  padding: 1em; }
  .tnsoc p {
    margin: 7em 0; }

@media (max-width: 40em) {
  video {
    width: 100% !important;
    height: auto !important; } }

.logo-set {
  zoom: 1; }
  .logo-set:before, .logo-set:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .logo-set:after {
    clear: both; }
  .logo-set .logo {
    float: left;
    width: 93.75%;
    margin-right: 3.125%;
    margin-left: 3.125%;
    text-align: center; }
    @media (min-width: 60.0625em) {
      .logo-set .logo {
        width: 31.77083%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 40.0625em) and (max-width: 60em) {
      .logo-set .logo {
        width: 31.25%;
        margin-right: 1.04167%;
        margin-left: 1.04167%; } }
    @media (min-width: 20.0625em) and (max-width: 40em) {
      .logo-set .logo {
        width: 30.20833%;
        margin-right: 1.5625%;
        margin-left: 1.5625%; } }

.brand-assets {
  zoom: 1; }
  .brand-assets:before, .brand-assets:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .brand-assets:after {
    clear: both; }
  .brand-assets .brand-colours,
  .brand-assets .brand-font {
    float: left;
    width: 93.75%;
    margin-right: 3.125%;
    margin-left: 3.125%; }
    @media (min-width: 60.0625em) {
      .brand-assets .brand-colours,
      .brand-assets .brand-font {
        width: 48.4375%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 40.0625em) and (max-width: 60em) {
      .brand-assets .brand-colours,
      .brand-assets .brand-font {
        width: 47.91667%;
        margin-right: 1.04167%;
        margin-left: 1.04167%; } }
    @media (min-width: 20.0625em) and (max-width: 40em) {
      .brand-assets .brand-colours,
      .brand-assets .brand-font {
        width: 46.875%;
        margin-right: 1.5625%;
        margin-left: 1.5625%; } }
  .brand-assets .brand-colours span {
    display: block;
    height: 30px; }
  .brand-assets .brand-font {
    text-align: center; }

footer {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
