/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
with any questions regarding Web Fonts:  http://www.linotype.com
*/
@font-face {
  font-family: "Mark Heavy";
  src: url("../fonts/5085624/4871996f-49b4-41eb-9fd0-34a066449db9.eot?#iefix");
  src: url("../fonts/5085624/4871996f-49b4-41eb-9fd0-34a066449db9.eot?#iefix") format("eot"), url("Fonts/5085624/1c6c74cb-57ac-42e0-94b8-aa00e5942991.woff2") format("woff2"), url("../fonts/5085624/5832cc9a-b82c-413e-9a10-03271bbe007b.woff") format("woff"), url("../fonts/5085624/86b8fc0e-696d-4af9-bb91-a5465f423e45.ttf") format("truetype"), url("../fonts/5085624/19a3ed80-e081-4b59-ad18-ae704a68bbe6.svg#19a3ed80-e081-4b59-ad18-ae704a68bbe6") format("svg"); }
@font-face {
  font-family: "Mark Light";
  src: url("../fonts/5085636/b993715e-398d-4f3e-90b8-0bb157d062d8.eot?#iefix");
  src: url("../fonts/5085636/b993715e-398d-4f3e-90b8-0bb157d062d8.eot?#iefix") format("eot"), url("../fonts/5085636/35a41984-c0a0-4114-beda-11e84f0de38c.woff2") format("woff2"), url("../fonts/5085636/88368f79-a626-45ba-8e73-46856342599a.woff") format("woff"), url("../fonts/5085636/0b6023f2-872e-43a5-bebd-1f7d33112dfc.ttf") format("truetype"), url("../fonts/5085636/a908d1fe-ff86-4f27-9ca3-95c5d89d94c8.svg#a908d1fe-ff86-4f27-9ca3-95c5d89d94c8") format("svg"); }
@font-face {
  font-family: "Mark Medium";
  src: url("../fonts/5085644/6250a288-60d6-4da8-812f-e136a286c913.eot?#iefix");
  src: url("../fonts/5085644/6250a288-60d6-4da8-812f-e136a286c913.eot?#iefix") format("eot"), url("../fonts/5085644/8f393ecb-f0a6-46dd-a942-c90b2cf7636e.woff2") format("woff2"), url("../fonts/5085644/a1064c24-7292-4735-a5ea-e67f2c1bd720.woff") format("woff"), url("../fonts/5085644/517c7747-65f5-49db-94a1-0cc6ae07560d.ttf") format("truetype"), url("../fonts/5085644/a76b92be-cbd1-408e-9489-6048ffc94120.svg#a76b92be-cbd1-408e-9489-6048ffc94120") format("svg"); }
@font-face {
  font-family: "Mark Regular";
  src: url("../fonts/5085664/0e02a382-f43d-41e6-b5e5-ba4e7fcbb5df.eot?#iefix");
  src: url("../fonts/5085664/0e02a382-f43d-41e6-b5e5-ba4e7fcbb5df.eot?#iefix") format("eot"), url("../fonts/5085664/52edc69f-211c-43f4-ab29-ac305fc36872.woff2") format("woff2"), url("../fonts/5085664/47b1c167-5f01-48b2-b591-8a4b721b41c9.woff") format("woff"), url("../fonts/5085664/aa454433-4943-47ab-9e86-3de9ad735f15.ttf") format("truetype"), url("../fonts/5085664/29a5633c-4fde-4e25-89f9-2211965f7bc8.svg#29a5633c-4fde-4e25-89f9-2211965f7bc8") format("svg"); }
* {
  box-sizing: border-box; }

body {
  font-family: "Mark Medium";
  background: #00a3ad;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00a3ad 0%, #00a3ad 50%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a3ad), color-stop(20%, #00a3ad));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00a3ad 0%, #00a3ad 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00a3ad 0%, #00a3ad 50%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00a3ad 0%, #00a3ad 50%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00a3ad 0%, #00a3ad 50%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

header {
  padding: 1em;
  height: 64px; }

.container {
  width: 100%;
  display: table;
  table-layout: fixed;
  position: relative; }
  *, *:before, *:after {
    box-sizing: border-box; }
  @media (min-width: 0) and (max-width: 30em) {
    .container {
      display: block; } }
  .container.page .page__side {
    width: 300px;
    display: table-cell;
    vertical-align: top;
    background: #fff;
    box-sizing: border-box; }
    @media (min-width: 0) and (max-width: 30em) {
      .container.page .page__side {
        display: inline-block;
        position: absolute;
        right: -300px; } }
    .container.page .page__side ul {
      height: 100%;
      margin: 0;
      padding: 0.5em 0.5em 0.5em 0;
      list-style: none; }
      .container.page .page__side ul li {
        display: block;
        border-top: 1px solid #eee; }
        .container.page .page__side ul li:before, .container.page .page__side ul li:after {
          content: "";
          display: table; }
        .container.page .page__side ul li:after {
          clear: both; }
        .container.page .page__side ul li:first-child {
          border-top: 0; }
        .container.page .page__side ul li:last-child {
          border-bottom: 1px solid #eee; }
        .container.page .page__side ul li a {
          display: block;
          padding: 1em;
          color: #474a4c;
          text-decoration: none; }
          .container.page .page__side ul li a svg {
            width: 20px;
            vertical-align: middle;
            fill: #999;
            float: right; }
  .container.page .page__main {
    display: table-cell;
    vertical-align: top; }
    @media (min-width: 0) and (max-width: 30em) {
      .container.page .page__main {
        display: block; } }
    .container.page .page__main .feature {
      padding: 2em 5em;
      color: #fff;
      padding-bottom: 3em; }
      @media (min-width: 0) and (max-width: 30em) {
        .container.page .page__main .feature {
          padding: 1em; } }
      .container.page .page__main .feature h3 {
        text-transform: uppercase;
        font-size: 0.9em; }
      .container.page .page__main .feature .feature__heading {
        font-size: 5em;
        margin-top: 0;
        line-height: 1.1em;
        margin-bottom: 0.4em; }
      .container.page .page__main .feature .feature__description {
        font-family: "Mark Light";
        font-size: 1.3em;
        margin-bottom: 2em; }
      .container.page .page__main .feature .feature__search input[type=text] {
        border: 0;
        outline: 0;
        min-width: 335px;
        margin-right: 15px;
        padding: 10px;
        color: #474a4c;
        min-height: 42px;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle; }
        @media (min-width: 0) and (max-width: 30em) {
          .container.page .page__main .feature .feature__search input[type=text] {
            margin-right: 0; } }
      .container.page .page__main .feature .feature__search input[type=submit] {
        display: inline-block;
        background: #ffd100;
        font-size: 0.9em;
        border: 0;
        outline: 0;
        color: #474a4c;
        text-transform: uppercase;
        min-height: 42px;
        width: 150px;
        box-sizing: border-box;
        vertical-align: middle; }
        @media (min-width: 0) and (max-width: 30em) {
          .container.page .page__main .feature .feature__search input[type=submit] {
            margin-top: 1em; } }
      .container.page .page__main .feature .feature__body {
        max-width: 500px; }
    .container.page .page__main .main__body {
      background: #fff;
      padding: 1em; }
  .container .panel-list {
    float: none;
    max-width: 80em;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    padding-left: 0; }
    .container .panel-list:before, .container .panel-list:after {
      content: "";
      display: table; }
    .container .panel-list:after {
      clear: both; }
  .container .panel {
    float: left;
    width: 95.83333%;
    margin-right: 2.08333%;
    margin-left: 2.08333%;
    border: 1px solid #eee;
    text-align: center;
    color: #474a4c;
    margin-bottom: 1em; }
    @media (min-width: 67.8125em) {
      .container .panel {
        width: 23.4375%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 48.0625em) and (max-width: 67.75em) {
      .container .panel {
        width: 98.15498%;
        margin-right: 0.92251%;
        margin-left: 0.92251%; } }
    @media (min-width: 30.0625em) and (max-width: 48em) {
      .container .panel {
        width: 97.39583%;
        margin-right: 1.30208%;
        margin-left: 1.30208%; } }
    .container .panel:nth-child(4n+5) {
      clear: left; }
    .container .panel .panel__title {
      text-align: left;
      padding: 1em;
      border-bottom: 1px solid #eee; }
      .container .panel .panel__title h2 {
        margin-top: 0;
        margin-bottom: 0; }
      .container .panel .panel__title span {
        color: #999;
        font-family: "Mark Light";
        text-transform: uppercase;
        font-size: 0.8em; }
      .container .panel .panel__title.panel__title--icon span {
        color: #999; }
    .container .panel .panel__text {
      font-family: "Mark Light";
      text-align: left;
      padding: 1em; }
      .container .panel .panel__text p:first-child {
        margin-top: 0; }
    .container .panel .panel__button {
      display: inline-block;
      margin-bottom: 2em;
      padding: 0.7em 1.5em;
      background: #000;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none; }
    .container .panel.panel--links {
      display: table;
      border: 0; }
      .container .panel.panel--links .panel__split {
        color: #fff;
        margin-bottom: 1em; }
        .container .panel.panel--links .panel__split:last-child {
          margin-bottom: 0; }
        .container .panel.panel--links .panel__split.panel__split--primary {
          background: #444292; }
        .container .panel.panel--links .panel__split.panel__split--secondary {
          background: #00a3ad; }
        .container .panel.panel--links .panel__split .panel__title span {
          color: #fff; }
    .container .panel.panel--iconbg .panel__image {
      min-height: 200px;
      max-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
    .container .panel.panel--iconbg img {
      padding-top: 1em;
      max-height: 100%; }
    .container .panel.panel--imagebg .panel__titleWrap {
      min-height: 288px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      background: #fff url("../img/panel-bg-001.png") no-repeat center center; }
    .container .panel.panel--imagebg .panel__title {
      margin-top: 1em;
      color: #fff;
      border-bottom: 0; }
      .container .panel.panel--imagebg .panel__title span {
        color: #eee; }
  .container.bar .bar__side {
    width: 300px;
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    background: #fff;
    box-sizing: border-box;
    border-top: 1px solid #eee; }
  .container.bar .bar__main {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    background: #000;
    color: #fff;
    text-align: center; }

.blocknav.blocknav--threeup ul {
  float: none;
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  padding-left: 0; }
  .blocknav.blocknav--threeup ul .blocknav__item {
    float: left;
    width: 95.83333%;
    margin-right: 2.08333%;
    margin-left: 2.08333%; }
    @media (min-width: 67.8125em) {
      .blocknav.blocknav--threeup ul .blocknav__item {
        width: 31.77083%;
        margin-right: 0.78125%;
        margin-left: 0.78125%; } }
    @media (min-width: 48.0625em) and (max-width: 67.75em) {
      .blocknav.blocknav--threeup ul .blocknav__item {
        width: 31.48831%;
        margin-right: 0.92251%;
        margin-left: 0.92251%; } }
    @media (min-width: 30.0625em) and (max-width: 48em) {
      .blocknav.blocknav--threeup ul .blocknav__item {
        width: 30.72917%;
        margin-right: 1.30208%;
        margin-left: 1.30208%; } }
    .blocknav.blocknav--threeup ul .blocknav__item:first-child {
      text-align: left; }
      .blocknav.blocknav--threeup ul .blocknav__item:first-child a:first-child {
        margin-right: 1em; }
    .blocknav.blocknav--threeup ul .blocknav__item:last-child {
      text-align: right; }
      .blocknav.blocknav--threeup ul .blocknav__item:last-child a:last-child {
        margin-left: 1em; }
    .blocknav.blocknav--threeup ul .blocknav__item a {
      color: #00a3ad;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle; }
      .blocknav.blocknav--threeup ul .blocknav__item a span {
        color: #eee;
        font-size: .9em; }

.bar--footer .bar__side {
  color: #999; }
  .bar--footer .bar__side a {
    color: #006280;
    text-decoration: none; }
.bar--footer .blocknav.blocknav--threeup ul li:nth-child(2n) a {
  position: relative;
  bottom: 3em; }

/*# sourceMappingURL=style.css.map */
